.woocommerce-account .woocommerce-dashboard-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.woocommerce-dashboard-container .woocommerce-dashboard-navigation{

}
.woocommerce-dashboard-container .woocommerce-dashboard-content{
	
}