html{
	margin-top: 0px!important;
}
.woocommerce .woocommerce-dashboard-container .woocommerce-MyAccount-navigation,
.woocommerce .woocommerce-dashboard-container .woocommerce-MyAccount-content  {
    float: unset!important;
    width: auto!important;
}

.woocommerce .woocommerce-dashboard-container .woocommerce-MyAccount-content .woocommerce-info{
	border-top-color: #06CA8C;
}
.woocommerce .woocommerce-dashboard-container .woocommerce-MyAccount-content .woocommerce-info::before{
	color: #06CA8C;
}
.woocommerce .woocommerce-dashboard-container .woocommerce-MyAccount-content a.woocommerce-button.button.view{
	background: #06CA8C;
    color: #fff;
    border: none;
}
.woocommerce-account .woocommerce-dashboard-container{
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}
.woocommerce-dashboard-container .dashboard-column {
  display: flex;
  flex-direction: column;
}
.woocommerce-dashboard-container .woocommerce-dashboard-content table.shop_table {
    border: none;
}

.woocommerce .woocommerce-dashboard-container .fixed-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.woocommerce .woocommerce-dashboard-container .dashboard-mobile-topbar{
    background-color: #248C6F;
    color: #fff;
}

.woocommerce .woocommerce-dashboard-container button.nav-offcanvas{
    background: transparent;
    padding: unset;
    color: #fff;
    border: none;
    font-size: 30px;
}

.woocommerce .woocommerce-dashboard-container .fixed-sidebar .dashboard-title {
    margin-top: 20px;
    color: #E1E1E1;
}
.woocommerce .woocommerce-dashboard-container .fixed-sidebar .dashboard-logo {
    margin-bottom: 40px;
    color: #E1E1E1;
    text-align: center;
}

.woocommerce .woocommerce-dashboard-container .dashboard-sidebar {
    background-color: #248C6F;
    min-height: 100vh;
    padding: 20px;
}

.woocommerce .woocommerce-dashboard-container .dashboard-sidebar a {
    color: #E1E1E1;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
}

.woocommerce .woocommerce-dashboard-container .dashboard-sidebar a:hover {
    color: #f1faee;
    text-decoration: none;
}

.woocommerce .woocommerce-dashboard-container .main-content {
    padding: 20px;
}

.woocommerce .woocommerce-dashboard-container .main-content .offcanvas-backdrop.show {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.woocommerce .woocommerce-dashboard-container .card-dashboard {
    border-radius: 15px;
}

.woocommerce .woocommerce-dashboard-container .btn-custom {
    background-color: #1d3557;
    color: white;
    border-radius: 8px;
}

.woocommerce .woocommerce-dashboard-container .btn-custom:hover {
    background-color: #457b9d;
}

.woocommerce .woocommerce-dashboard-container .welcome-text {
    text-align: right;
}

.woocommerce .woocommerce-dashboard-container .meta-icon {
    font-size: 30px;
    margin-bottom: 10px;
}



.woocommerce .woocommerce-dashboard-container .woocommerce-dashboard-content button.offcanvas-close{
    color: #E1E1E1;
}

.woocommerce .woocommerce-dashboard-container .woocommerce-dashboard-content .offcanvas{
    background-color: #248C6F;
    min-height: 100vh;
    width: 80%;
    padding: 20px;
}

.woocommerce .woocommerce-dashboard-container .woocommerce-dashboard-content .offcanvas a {
    color: #E1E1E1;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
}

.woocommerce .woocommerce-dashboard-container .woocommerce-dashboard-content .dashboard-logo a{
	margin-bottom: 0px;
}

.woocommerce .woocommerce-dashboard-container ul li.woocommerce-MyAccount-navigation-link{
	list-style: none;
}

.woocommerce .woocommerce-dashboard-container form .form-row input.input-text, 
.woocommerce .woocommerce-dashboard-container .woocommerce form .form-row textarea{
	background: #f5f5f5;
    color: #0a1622;
    padding: 10px;
}

.woocommerce .woocommerce-dashboard-container form .form-row em{
	font-size: 11px;
}

.woocommerce .woocommerce-dashboard-container form .form-row label{
	color: #0a1622;
	text-transform: capitalize;
    letter-spacing: unset;
}

.woocommerce .woocommerce-dashboard-container form.woocommerce-EditAccountForm .woocommerce-save-button{
	margin-top: 50px;
	text-align: center;
}

.woocommerce .woocommerce-dashboard-container form.woocommerce-EditAccountForm .woocommerce-Button{
	background: #06CA8C;
	color: #fff;
	border: none;
}

.woocommerce .woocommerce-dashboard-container form.woocommerce-EditAccountForm .woocommerce-Button:hover{
	background: #282828;
}

.woocommerce .woocommerce-dashboard-container form fieldset {
    margin: 0px;
    padding: 0px;
}

.woocommerce .woocommerce-dashboard-container form fieldset legend{
	display: none;
}

.woocommerce .woocommerce-dashboard-container .woocommerce-MyAccount-navigation ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    position: relative;
}
.woocommerce .woocommerce-dashboard-container .woocommerce-MyAccount-navigation-link--customer-logout {
    position: absolute;
    bottom: 120px;
    width: 100%;
}

@media (min-width: 992px) {
.woocommerce .woocommerce-dashboard-container .main-content {
    margin-left: 16.66666667%; /* This pushes the content to the right of the fixed sidebar */
}
}

@media (min-width: 768px) and (max-width: 992px) {
.woocommerce .woocommerce-dashboard-container .main-content {
    margin-left: 25%; /* This pushes the content to the right of the fixed sidebar */
}
}

@media (max-width: 767px) {
.woocommerce .woocommerce-dashboard-container .offcanvas-body {
    overflow: hidden;
}
.woocommerce .woocommerce-dashboard-container .woocommerce-MyAccount-navigation ul {
    height: 95vh;
}
.woocommerce .woocommerce-dashboard-container .main-content {
    margin-left: 0%; /* This pushes the content to the right of the fixed sidebar */
}
}

/* Dahboard Login */
.woocommerce .woocommerce-dashboard-login.login-container {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
    display: flex;
    height: 100vh;
    padding: 0px;
}

.woocommerce .woocommerce-dashboard-login.login-container form.checkout_coupon, 
.woocommerce .woocommerce-dashboard-login.login-container form.login, 
.woocommerce .woocommerce-dashboard-login.login-container form.register{
	border: none;
}

.woocommerce .woocommerce-dashboard-login.login-container .woocommerce-form label{
	color: #000;
}

.woocommerce .woocommerce-dashboard-login.login-container .login-image {
    background: url('https://yourrobotrader.com/wp-content/uploads/2024/06/img_today_YRT.webp') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.woocommerce .woocommerce-dashboard-login.login-container .login-form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.woocommerce .woocommerce-dashboard-login.login-container .login-form h1 {
    font-size: 2rem;
    font-weight: bold;
}

.woocommerce .woocommerce-dashboard-login.login-container .login-form .form-control {
    border-radius: 10px;
    padding: 10px 20px;
    background: #F9FAFF;
    color: #000;
}
.woocommerce .woocommerce-dashboard-login.login-container .login-form .form-control:focus {
    box-shadow: none;
}

.woocommerce .woocommerce-dashboard-login.login-container .login-form .btn {
    background: #06CA8C;
    border-radius: 10px;
    color: #fff;
}

.woocommerce .woocommerce-dashboard-login.login-container .login-form .btn:hover {
    background: #282828;
}


@media (max-width: 768px) {
    .woocommerce .woocommerce-dashboard-login.login-container .login-container {
        flex-direction: column;
    }

    .woocommerce .woocommerce-dashboard-login.login-container .login-image {
        height: 40vh;
        background-size: cover;
    }

    .woocommerce .woocommerce-dashboard-login.login-container .login-form {
        padding: 20px;
    }
}